.bg-image-contact {
  background-image: url("/Resources/background-contactus1.jpg");
  background-position: 100%;
  background-size: cover;
  height: 53vh;
}

.links a {
  color: black;
}

.nav-icon .nav-icon-text {
  color: black;
}

.nav-toggle {
  color: black;
}
