/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(0, 0%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: Apple Chancery;
  --ff-secondary: Apple Chancery;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Apple Chancery;
  background: white;
  color: black;
  line-height: 1.5;
  /* font-size: 0.875rem; */
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  font-family: var(--ff-secondary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
/* p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
} */
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  .reveal {
    position: none;
    transform: none;
    opacity: none;
    transition: none;
  }

  .reveal.active {
    transform: none;
    opacity: none;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 5vw;
  }
  .reveal {
    position: none;
    transform: none;
    opacity: none;
    transition: none;
  }

  .reveal.active {
    transform: none;
    opacity: none;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
=============== 
Navbar
===============
*/
nav {
  background: transparent;
  box-shadow: var(--light-shadow);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: whitesmoke;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  /* color: var(--clr-primary-1); */
  font-size: 1.7rem;
  transform: rotate(90deg);
}
/*ICON 'Andreea Radu' NAVBAR PROPERTIES */
.nav-icon h3 {
  font-family: Apple Chancery;
  color: whitesmoke;
  margin-bottom: 0;
  font-size: 1.5rem;
  width: 206.54px;
}

.nav-icon h4 {
  font-size: 6.6px;
  color: whitesmoke;
  letter-spacing: 5px;
}
/*ICON 'Andreea Radu' NAVBAR PROPERTIES */
.links a {
  color: whitesmoke;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  opacity: 0.9;
  font-size: 1.1rem;
  color: rgb(169, 195, 234);
  font-weight: 700;
  transition: 0.2s ease-in-out;
}
.social-icons {
  display: none;
}
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 20rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: whitesmoke;
    transition: var(--transition);
  }
  .social-icons a:hover {
    font-size: 1.1rem;
    color: rgb(169, 195, 234);
    transition: 0.2s ease-in-out;
  }
}

.bg-image {
  background-image: url("https://source.unsplash.com/1600x900/?welcome");
  background-position: 100%;
  background-size: cover;
  height: 70vh;
}

.dropdown-menu,
.dropdown-item {
  background: rgba(0, 0, 0, 0.432);

  width: 15rem;
}
.dropdown-item:hover {
  color: rgb(220, 220, 220);
  background: none;
}

section {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(23, 23, 23);
}
/* SECTION #1 "INTERESTS"*/
.interests-section {
  text-align: center;
  height: 32rem;
  background-color: rgb(34, 34, 34);
}
.text-container h2 {
  font-weight: bold;
  font-style: italic;
  letter-spacing: 5px;
  font-size: 3.5rem;
  padding-bottom: 3rem;
  color: white;
}
.description-section h2 {
  font-weight: bold;
  font-style: italic;
  letter-spacing: 5px;
  font-size: 3.5rem;
  padding-bottom: 3rem;
}

.interest-container h3 {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  padding: 1.2rem;
}

.interest-container {
  justify-content: center;
  margin: 1px 1px;
}
.interest-area {
  margin: 0.5rem;
  width: 23rem;
  height: 12rem;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(88, 88, 88, 0.8);
}

.btn-scrolldown {
  font-size: 1.8rem;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 600;
  transition: all 0.2s linear;
}
.btn-scrolldown:hover {
  opacity: 0.6;
  font-size: 31px;
  transition: 0.2s;
}

/* SECTION #2 "BETWEEN"*/
.between-section {
  color: rgba(255, 255, 255, 0.732);
  letter-spacing: 5px;
  background-image: url("https://source.unsplash.com/1600x900/?love");
  background-position: 100%;
  background-size: cover;
  height: 65vh;
  font-size: 7rem;
  text-align: center;
}

/* SECTION #3 "DESCRIPTION SECTION"*/
.description-section {
  padding: 2rem 0rem 2rem 0rem;
}

.description-section div h2 {
  font-family: var(--ff-secondary);
  text-align: center;
  font-size: 3rem;
}
.description-section .featurette {
  font-family: var(--ff-secondary);
  align-items: center;
  padding: 0rem 3rem 3rem 3rem;
}
.featurette-image {
  border-radius: 25px;
  box-shadow: 0 15px 35px rgba(88, 88, 88, 0.8);
}

section .text-container {
  color: rgb(0, 0, 0);
  font-family: var(--ff-secondary);
  font-size: 3rem;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  /* section .text-container {
    flex-direction: column;

  } */
  .interests-section {
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
  /* .interest-section .text-container .interest-container {
    justify-content: center;
    align-items: center;
  } */
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/*NAVBAR /////////////////////////////////////////////////////////*/
.nav-toggle {
  font-size: 1.5rem;
  color: rgb(201, 201, 201);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
/* FIXED NAVBAR PROPERTIES */

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: var(--light-shadow);
  background: rgba(0, 0, 0, 0.4);

  left: 0px;
  top: 0px;
  z-index: 1;
}

/* FIXED NAVBAR PROPERTIES */
