.social-icons a {
  color: whitesmoke;
}

.showprice-btn {
  margin-top: 1.8rem;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 2px;
  text-align: center;
  color: rgb(42, 42, 42);
  height: 1.8rem;
}

.btns-cards {
  justify-content: space-between;
  cursor: pointer;
  text-align: center;
}
.btn-primary {
  cursor: pointer;
}

.bg-image-delights {
  background-image: url("/Resources/background-food.jpg");
  background-position: 100%;
  background-size: cover;
  height: 70vh;
}
.card {
  justify-content: space-between;
  box-shadow: 0 15px 35px rgb(103, 103, 103, 60%);
  width: 100%;
  min-width: 290px;
}
/* .bg-image-delights::after {
  content: "Delights Nest, the heaven of flavours and colors";
  font-style: italic;
  display: flow-root;
  margin-top: 20rem;
  position: relative;
  margin-left: 6rem;
  color: aliceblue;
  font-weight: bold;
  font-size: 40px;
} */

.filters-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-group .custom-select {
  width: 20rem;
  margin-bottom: 5px;
}

.navbar .fixed-nav {
  position: fixed;
}
.fixed-nav {
  position: fixed;
}
