.social-icons a {
  color: whitesmoke;
}

.showprice-btn {
  margin-top: 1.8rem;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 2px;
  text-align: center;
  color: rgb(42, 42, 42);
  height: 1.8rem;
}

.btns-cards {
  justify-content: space-between;
  cursor: pointer;
  text-align: center;
}
.btn-primary {
  cursor: pointer;
}

.bg-image-delights {
  background-image: url("/Resources/background-food.jpg");
  background-position: 100%;
  background-size: cover;
  width: 100%;
  height: 70vh;
}

.container-delights {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-delights-container {
  padding: 2rem;
}
.card {
  justify-content: space-between;
  box-shadow: 0 15px 35px rgb(103, 103, 103, 60%);
  width: 100%;
  min-width: 290px;
}

.filters-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 12rem;
  margin-bottom: 1rem;
}

.input-group .custom-select {
  width: 20rem;
  margin-bottom: 5px;
  color: rgba(84, 84, 84, 0.992);
}

.navbar .fixed-nav {
  position: fixed;
}
.fixed-nav {
  position: fixed;
}

@media (max-width: 700px) {
  .card-delights-container {
    padding: 1rem;
  }
  .card {
    width: 350px;
    height: 500px;
  }
  .filters-container {
    display: grid;
    justify-content: center;
    gap: 0;
  }
}
@media (max-width: 991.5px) {
  .card {
    width: 450px;
    height: 600px;
  }
}
